<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
  {{macro.sb_brand('images/lg_50_l.png')}}
  <hr class="sidebar-divider my-0">
  {{macro.sb_single(['dashboard','','tachometer-alt'])}}
  {{macro.sb_devide('Blog feed')}}
  {{macro.sb_drop('posts','edit',['view','create'])}}
  {{macro.sb_devide('News feed')}}
  {{macro.sb_drop('news','edit',['view','create'])}}
  {{macro.sb_devide('Website')}}
  {{macro.sb_drop('pages','file-code',['view','create','imports','base'])}}
  {{macro.sb_drop('editor','code',['js','mjs','json','css','styl','sass','less'])}}
  {{macro.sb_drop('gallery','images',['items','test'])}}

  {{macro.sb_devide('Rest api')}}
  {{macro.sb_drop('rest','server',['messages','subscribers', 'blacklist','logs','hitcount','config'])}}

  {{macro.sb_devide('Mobile')}}
  {{macro.sb_devide('SEO')}}
  {{macro.sb_single(['json-ld','seo/jsonld','code'])}}
  {{macro.sb_single(['sitemap','seo/sitemap','sitemap'])}}
  {{macro.sb_devide('Data')}}
  {{macro.sb_single(['authors','authors','users'])}}
  {{macro.sb_single(['database','database/edit','database'])}}
  {{macro.sb_single(['feed','feed','database'])}}
  {{macro.sb_single(['RSS/ATOM','rss_atom','rss'])}}
  {{macro.sb_single(['api','api','database'])}}
  {{macro.sb_drop('plugins','project-diagram',['admin', 'blog', 'mobile', 'extentions', 'search'])}}
  {{macro.sb_devide('config')}}
  {{macro.sb_single(['settings','settings','cog'])}}
  {{macro.sb_single(['logs','logs','history'])}}
  {{macro.sb_single(['backup','backup','archive'])}}
  {{macro.sb_single(['safe','safe','user-lock'])}}
  {{macro.sb_single(['security','security','lock'])}}
  {{macro.sb_single(['shortcut','shortcut','bolt'])}}
</ul>
