{% import "macros.njk" as macro %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <link rel="shortcut icon" href="/images/lg_50.png">
    <title>{{title.split('_').join(' ')}}</title>
    {% block styles %}{% endblock %}
    {% for i in['fa','admin', 'app'] %}
      {{macro.link(i)}}
    {% endfor %}
    <script>
      const appconf = {{data|dump|safe}}
    </script>
  </head>
  <body id="page-top">
      {% block body %}{% endblock %}
      {% block scripts %}{% endblock %}
      {{macro.script('app')}}
  </body>
</html>
